<section class="imageblock switchable feature-large space--lg ">
                                <div class="imageblock__content col-md-6 col-sm-4 col-xs-12 pos-right">
                                    <div class="map-container"data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-address="<%= @restaurant.address %>, <%= @restaurant.city %>" data-marker-title="Stack" data-map-style="[{&quot;featureType&quot;:&quot;landscape&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFBB00&quot;},{&quot;saturation&quot;:43.400000000000006},{&quot;lightness&quot;:37.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFC200&quot;},{&quot;saturation&quot;:-61.8},{&quot;lightness&quot;:45.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:51.19999999999999},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:52},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#0078FF&quot;},{&quot;saturation&quot;:-13.200000000000003},{&quot;lightness&quot;:2.4000000000000057},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#00FF6A&quot;},{&quot;saturation&quot;:-1.0989010989011234},{&quot;lightness&quot;:11.200000000000017},{&quot;gamma&quot;:1}]}]" data-map-zoom="15">                               </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 col-sm-7">
                                            <h3><%= @restaurant.name %>
                                                <br><%= @restaurant.address %>
                                                <br><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></h3>
                                            <p class="lead">
                                                E:
                                                <a href="#"><%= @restaurant.website_link %></a>
                                                <br> P: <%= @restaurant.phone_number %>
                                            </p>
                                            <p class="lead">
                                                <%= @restaurant.blurb %>
                                            </p>
                                            <p>
                                                    <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
                                                    <%= link_to 'Back', reservations_path %>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>


