<section class="space--sm cover imagebg height-25" data-overlay="8">
 <div class="background-image-holder"><%= image_tag "restaurant-6.jpg" %></div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12s">
                  <form class="form--horizontal">
                      <div class="col-sm-2">
                          <div class="input-number">
                            <input type="number" name="quantity" placeholder="Quantity" value="2" min="1" max="12" />
                            <div class="input-number__controls">
                              <span class="input-number__increase"><i class="stack-up-open"></i></span>
                              <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                            </div>
                          </div>
                      </div>
                          <div class="col-sm-3">
                                     <div class="input-select"> 
                                        <select>
                                        <option selected="selected" value="Default">Today</option>
                                        <option value="option1">Tomorrow</option>
                                        <option value="option2">Mon, Oct. 13</option>
                                        <option value="option3">Mon, Oct. 13</option>
                                        <option value="option1">Mon, Oct. 13</option>
                                        <option value="option2">Mon, Oct. 13</option>
                                        <option value="option3">Mon, Oct. 13</option>
                                        <option value="option1">Mon, Oct. 13</option>
                                        <option value="option2">Mon, Oct. 13</option>
                                        <option value="option3">Mon, Oct. 13</option>
                                        <option value="option1">Mon, Oct. 13</option>
                                        <option value="option2">Mon, Oct. 13</option>
                                        <option value="option3">Mon, Oct. 13</option>
                                        </select>
                                    </div>
                                </div>
                      <div class="col-sm-2">
                          <div class="input-select"> <select>
                            <option selected="selected" value="Default">Time?</option>
                            <option value="option1">5:00pm</option>
                            <option value="option2">5:30pm</option>
                            <option value="option3">6:00pm</option>
                            <option value="option1">6:30pm</option>
                            <option value="option2">7:00pm</option>
                            <option value="option3">7:30pm</option>
                            <option value="option1">8:00pm</option>
                            <option value="option2">8:30pm</option>
                            <option value="option3">9:00pm</option>
                            <option value="option1">9:30pm</option>
                            <option value="option2">10:00pm</option>
                            <option value="option3">10:30pm</option>
                          </select>
                        </div>
                      </div>
                        <div class="col-sm-3"> <input type="text" name="location" placeholder="Location or Restaurant"> </div>
                      <div class="col-sm-2"> <button type="submit" class="btn btn-primary type--uppercase">Find a Table</button> </div>
                  </form>
          </div>
      </div>
  </div>
</section>

<section class="space--xs bg--secondary">
    <div class="container">
        <div class="row">
          <div class="col-md-3 hidden-sm">
              <% if current_user.try(:admin?) or current_user.try(:owner?) %>
                  <i class="material-icons" style="vertical-align: middle; font-size: inherit;">add_box</i>
                  <span><%= link_to 'Add a new location', new_restaurant_path %></span>
              <% end %>
              <div class="boxed boxed--border boxed--lg bg--secondary">
                  <div class="sidebar__widget">
                    <div class="row">
                      <div class="col-sm-1">
                        <i class="material-icons">restaurant</i>
                      </div>
                      <div class="col-sm-4">
                        <span class="h5 type--uppercase">Cuisine</span>
                      </div>
                      <div class="col-sm-1">
                        <i class="material-icons text-right">map</i>
                      </div>
                      <div class="col-sm-4">
                        <span class="text-right"><%= link_to 'Map', restaurants_path('/index-map') %></span>
                      </div>
                  </div>
                <form>
                  <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="Mexican" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Italian (85)
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="Mexican" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Mexican (102)
                    </span>
              <br>
              <div class="input-checkbox">
                <input id="checkbox1" type="checkbox" name="Mexican" />
                <label for="checkbox2"></label>
              </div>
              <span>Italian (85)
                </span>
          <br>
            <div class="input-checkbox">
                <input id="checkbox2" type="checkbox" name="Mexican" />
                <label for="checkbox2"></label>
              </div>
              <span>Mexican (102)
                </span>
        <br>
              <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="Mexican" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Italian (85)
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="Mexican" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Mexican (102)
                    </span>
                  <span class="h6 type--uppercase text-center"><a href="#">See More</a></span>
                    <div class="row" style="padding-top:25px; border-top: 1px dotted;">
                      <div class="col-sm-1">
                        <i class="material-icons">loyalty</i>
                      </div>
                      <div class="col-sm-8">
                        <span class="h5 type--uppercase">Special Offers</span>
                      </div>

                  </div>
                <form>
                  <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="All Offers" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>All Offers
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="50% Off" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>50% Off
                    </span>
              <br>
              <div class="input-checkbox">
                <input id="checkbox1" type="checkbox" name="40% Off" />
                <label for="checkbox2"></label>
              </div>
              <span>40% Off
                </span>
          <br>
            <div class="input-checkbox">
                <input id="checkbox2" type="checkbox" name="30% Off" />
                <label for="checkbox2"></label>
              </div>
              <span>30% Off
                </span>
        <br>
              <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="25% Off" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>25% Off
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="20% Off" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>20% Off
                    </span>
                    <span class="h6 type--uppercase text-center"><a href="#">See More</a></span>
                    <div class="row" style="padding-top:25px; border-top: 1px dotted;">
                      <div class="col-sm-1">
                        <i class="material-icons">favorite</i>
                      </div>
                      <div class="col-sm-8">
                        <span class="h5 type--uppercase">Features</span>
                      </div>

                  </div>
                <form>
                  <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="Features" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>All Features
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="Smoking" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Smoking
                    </span>
              <br>
              <div class="input-checkbox">
                <input id="checkbox1" type="checkbox" name="Outdoor Seating" />
                <label for="checkbox2"></label>
              </div>
              <span>Outdoor Seating
                </span>
          <br>
            <div class="input-checkbox">
                <input id="checkbox2" type="checkbox" name="Dogs Allowed" />
                <label for="checkbox2"></label>
              </div>
              <span>Dogs Allowed
                </span>
        <br>
              <div class="input-checkbox">
                    <input id="checkbox1" type="checkbox" name="Big Groups" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Big Groups
                    </span>
              <br>
                <div class="input-checkbox">
                    <input id="checkbox2" type="checkbox" name="Cocktails" />
                    <label for="checkbox2"></label>
                  </div>
                  <span>Cocktails
                    </span>
                    <span class="h6 type--uppercase text-center"><a href="#">See More</a></span>
              </form>

                </div>
                  <!--end widget-->

              </div>
          </div>
          <div class="col-sm-12 col-md-8">
             
          <div class="tabs-container" data-content-align="left">
                <ul class="tabs">
                  <% if current_user.try(:admin?) or current_user.try(:owner?) %>
                  <li class="active">
                    <div class="tab__title">
                      <span class="h5">My Locations</span>
                    </div>
                    <div class="tab__content">
                      <div class="container" >
                        <% if current_user.restaurants.any? %>
                            <%= render '/restaurants/partials/restaurant_card_owner' %>
                        <% else %>
                          You have no locations yet, let's <%= link_to 'add one', new_restaurant_path %>.
                        <% end %>
                      </div>
                      <!--end of container-->
                    </div>
                  </li>
                  <li>
                  <% else %>
                  <li class="active">
                  <% end %>
                    <div class="tab__title">
                        <span class="h5">All Restaurants</span>
                      </div>
                      <div class="tab__content">
                        <div class="container" >
                          
                          <%= render '/restaurants/partials/restaurant_card' %>
                        </div>
                        <!--end of container-->
                    </div>
                  </li>
                  <li>
                    <div class="tab__title">
                      <span class="h5">Best Tables</span>
                    </div>
                    <div class="tab__content">
                      <div class="container" >
                          <%= render '/restaurants/partials/restaurant_card' %>
                      </div>
                      <!--end of container-->
                    </div>
                  </li>
                  <li>
                    <div class="tab__title">
                      <span class="h5">Best Deals</span>
                    </div>
                    <div class="tab__content">
                      <div class="container" >
                          <%= render '/restaurants/partials/restaurant_card' %>
                      </div>
                      <!--end of container-->
                    </div>
                  </li>
                </ul>
              </div><!--end of tabs container-->

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>