<!-- Probably add this in another sprint, as it may not be necessary -->
<h5>Hours</h5>
<section>
    <div class="row">
        <div class="col-sm-6">
            <label class="col-form-label">Monday</label>
            <%= f.time_field :breakfast_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :breakfast_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Tuesday</label>
            <%= f.time_field :lunch_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :lunch_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Wednesday</label>
            <%= f.time_field :dinner_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :dinner_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Thursday</label>
            <%= f.time_field :breakfast_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :breakfast_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Friday</label>
            <%= f.time_field :lunch_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :lunch_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Saturday</label>
            <%= f.time_field :dinner_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :dinner_end, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">Sunday</label>
            <%= f.time_field :dinner_start, class: "form-control"%>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label">End</label>
            <%= f.time_field :dinner_end, class: "form-control"%>
        </div>
        </div>
</section>