<% current_user.restaurants.each do |restaurant| %>
<div class="cta cta--horizontal text-center-xs card card-1 boxed boxed--md boxed--border">
    <div class="card__top">
        <div class="card__avatar">
            <span>
                <strong><%= link_to restaurant.name, restaurant %></strong>
            </span>
        </div>
        <div class="card__meta">
                <span class="color--primary"><strong>30% OFF</strong></span>
        </div>
    </div>
        <div class="col-sm-4">
        <%= link_to restaurant do %>
            <% restaurant.attachments.limit(1).each do |attachment| %>
            <%=image_tag attachment.image, class: "border--round", :style => "height: 130px; width: 200px; object-fit: cover; overflow: hidden;" %>
            <% end %>
        <% end %>
        </div>
        <div class="col-sm-5">
            <p>
            <%= restaurant.address %><br>
            <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %>
            </p>
        </div>
        <div class="col-sm-3 text-right text-center-xs">
                
                <%= link_to restaurant, :class => 'btn btn--primary-1 type--uppercase' do %>
                <span class="btn__text">Bookings</span>
                <% end %>
        </div>
        <div class="card__body">
            <p><i class="material-icons">loyalty</i>
                $<%= restaurant.cost_range_min %>-<%= restaurant.cost_range_max %> per person
            </p>
        </div>
        <div class="card__bottom">
            <ul class="list-inline">
                <li>
                    <div class="card__action">
                        <a href="#">
                        <!-- <i class="material-icons">loyalty</i> -->
                            <span>$$</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card__action">
                        <a href="#">
                            <i class="material-icons">star</i>
                            <span>4.5/5</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="card__action">
                        <a href="#">
                            <i class="material-icons">restaurant</i>
                            <% restaurant.cuisines.each do |cuisine| %>
                            <span><%= cuisine.name %></span>
                            <% end %>
                        </a>
                    </div>
                </li>
            <li>
            <% if current_user.try(:admin?) or current_user.try(:owner?) %>
                <div class="text-right" style="color:red;">
                    <i class="icon-Eye-2"></i>
                    <%= link_to 'View', restaurant_path(restaurant), :class=>"text-right"%>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <i class="icon-Pencil"></i>
                    <%= link_to 'Edit', edit_restaurant_path(restaurant), :class=>"text-right"%>
                </div>
            <% end %>
            </li>
        </ul>
        </div>
    </div>
<% end %>