<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Restaurant Reservations with Discounts. Dinelyy." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Restaurant Reservations with Discounts. Dinelyy." %>">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i', 'https://fonts.googleapis.com/css?family=Homemade+Apple', 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/nav_bar_account' %>
      <% else %>
        <%= render 'layouts/nav_bar_dark' unless current_page?(root_path) or current_page?(new_user_registration_path) or current_page?(new_user_session_path) %>
      <% end %>
    </header>
    <main role="main">
    <div class="main-container" style="min-height: 800px;">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= javascript_include_tag "datepicker.js" %>
    <%= javascript_include_tag "parallax.js" %>
    <%= javascript_include_tag "isotope.min.js" %>
    <%= javascript_include_tag "smooth-scroll.min.js" %>
    <%= javascript_include_tag "scripts.js" %>

    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>

